html,body{margin:0px auto;height:100%;width:100%;padding:0px;font-family:"微软雅黑";overflow-x:hidden}
html,body{background:#F1F1F3}
*{padding:0px;margin:0px;border-collapse:collapse}
*:focus{outline:none}
ul,li,p,div{padding:0px;margin:0px}
ul,li{list-style:none}
a{text-decoration:none}
input{padding:0px;border:none;font-family:"微软雅黑"}
.clear{clear:both}
.clear:after{height:0px;display:block;content:".";overflow:hidden;visibility:hidden;clear:both}

.Login_Top{width:100%;height:320px;background:url(../images/login/login-bg.jpg) center no-repeat;background-size: cover;border-bottom:1px solid #3b93b7}

.Login{width:650px;height:400px;margin:0px auto;margin-top:-80px;}
.Login .Login_Title{height:79px;width:100%;border-bottom:1px solid #3b93b7;opacity: 0.8;background:rgba(255, 255, 255, 0.8);line-height:80px;text-align: center;font-size:26px;}
.Login .Login_Con{height:320px;width:100%;background:#FFF}
       .Login_Con .span{width:500px;margin-left:75px;height:48px;border:1px solid #ccc;margin-top:30px;float:left;}
       .Login_Con .span label{height:40px;width:60px;margin-top:4px;text-align:center;float:left;}
       .Login_Con .span label img{height:40px;}
       .Login_Con .span input{height:100%;width:440px;float:left;}
       .Login_Con .sub{border:none;background:#4499BE;width:502px}
       .Login_Con .sub input{background:none;width:100%;height:100%;color:#FFF;font-size:16px;}
       .Login_Con .sub .submit{cursor: pointer;}
       .Login_Con .sub .submit2{display:none;background:#007196;}