<include file="Public/header" />
		<!-- project页面内容 -->
        <div class='nox_menu Yahei'>
            <a href='{:U('Project/index')}'>
            <li class=''>
            	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                产品管理
            </li>
            </a>
            <a href='{:U('Project/m_class')}'>
            <li class='active'>
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                分类管理
            </li>
            </a>
        </div>
        <div class='nox_main'>
        	<div class='nm_con Yahei'>
            	<p><button data-toggle="modal" data-target="#AddProject"  type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 增加一个分类</button></p>
            	<table class='table table-bordered marginbottom-0 table-hover'>
                	<tr>
                    	<td><strong>ID</strong></td>
                        <td><strong>分类名称</strong></td>
                        <td><strong>分类描述</strong></td>
                        <td width='65'><strong>操作</strong></td>
                    </tr>
                    <volist name='class_list' id='CV'>
                    <tr>
                    	<td>{$CV.cid}</td>
                        <td>{$CV.cname}</td>
                        <td>{$CV.cdes}</td>
                        <td>
                        	<a onclick="Delete_Project('{$CV.cid}')" data-toggle="modal" data-target="#DeleteProject" title='删除' class='btn-link' href='#'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            <a onclick="Modify_Project('{$CV.cid}','{$CV.cname}','{$CV.cdes}','')" data-toggle="modal" data-target="#ChangeData" title='修改' style='margin-left:20px;' class='btn-link' href='#'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                    </volist>
                </table>
                <ul class="pagination float-right">{$class_show}</ul>
            </div>
		</div>
	</body>
    
    <!-- 修改产品数据 -->
    <div class="modal fade" id='ChangeData'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">修改分类</h4>
          </div>
          <form class="form-horizontal Yahei" action="{:U('Project/pro_action/action/saveClass')}" method="post">
          <input type='hidden' name='pid' value='' />
          <div class="modal-body">
            <p>
              <fieldset>
                <div class="form-group">
                  <label for="inputEmail" class="col-lg-2 control-label">分类名称</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" required="required" name='pname' id="inputEmail" placeholder="产品名称">
                  </div>
                </div>
              	<div class="form-group">
                  <label for="inputEmail" class="col-lg-2 control-label">分类描述</label>
                  <div class="col-lg-10">
                    <textarea class="form-control" name='pdesc' placeholder="分类描述，可以为空" rows="3" id="textArea"></textarea>
                  </div>
                </div>
              </fieldset>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- 删除分类 -->
    <div class="modal fade" id='DeleteProject'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body Yahei">
          	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>警告：确定要删除这个分类？（此操作不可逆）</h4>
            <div class='text-right' style='margin-top:50px;'>
            <form method="post" action="{:U('Project/pro_action/action/deleteClass')}">
            <input type="hidden" value='' name='pid' />
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- 添加分类 -->
    <div class="modal fade" id='AddProject'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">添加分类</h4>
          </div>
          <form class="form-horizontal Yahei" action="{:U('Project/pro_action/action/addClass')}" method="post">
          <div class="modal-body">
            <p>
              <fieldset>
                <div class="form-group">
                  <label for="inputEmail" class="col-lg-2 control-label">分类名称</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" required="required" name='cname' id="inputEmail" placeholder="分类名称">
                  </div>
                </div>
               
              <div class="form-group">
                  <label for="inputEmail" class="col-lg-2 control-label">分类描述</label>
                  <div class="col-lg-10">
                    <textarea class="form-control" name='cdes' placeholder="分类描述，可以为空" rows="3" id="textArea"></textarea>
                  </div>
                </div>
              </fieldset>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src='__PUBLIC__/default/js/project.js'></script>
</html>
