<!DOCTYPE HTML>
<html lang="zh-cn">
	<head>
    	<title>{$GLOBALS['sitename']}</title>
		<meta charset="UTF-8">
        <meta nmae="robots" content="noindex,nofollow">
        <link rel="stylesheet" type="text/css" href='__PUBLIC__/default/css/public.css' />
        <link rel="shortcut icon" href='__PUBLIC__/default/images/favicon.ico' />
        <link rel="stylesheet" type="text/css" href='__PUBLIC__/default/css/login.css' />
	</head>
	<body>
        <div class="Login_Top"></div>
		<div class='Login'>
        	<div class='Login_Title'><p>{$GLOBALS['sitename']}</p></div>
            <div class='Login_Con'>
                <div class="span span1">
                    <label><image src="__PUBLIC__/default/images/login/username.png" /></label>
                    <input class='text1' placeholder="请输入登录账号" type='text' name='username' />
                </div>
                <div class="span span2">
                    <label><image src="__PUBLIC__/default/images/login/password.png" /></label>
                    <input class='text2' placeholder="请输入密码" onKeyUp="KeyDown(event)" type='password' name='password' />
                </div>
                <div class="span sub">
                    <input class='submit' onKeyDown="login()" onClick="login()" type='button' value='登录' />
                    <input class='submit2' type='button' value='登录中···' />
                </div>
            </div>
        </div>
	</body>
    <script type="text/javascript" src='__PUBLIC__/default/js/jquery-1.11.1.min.js'></script>
    <script type="text/javascript" src='__PUBLIC__/SCWindow/SCWindow.min.js'></script>
    <script type="text/javascript" src='__PUBLIC__/default/js/public.js'></script>
    <script type="text/javascript" src='__PUBLIC__/default/js/login.js'></script>
    
</html>