<!DOCTYPE HTML>
<html lang="zh-cn">
	<head>
		<title>{$GLOBALS['sitename']}</title>
		<meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="__PUBLIC__/default/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/default/css/public.css">
		<script src="__PUBLIC__/bootstrap-3.3.2/js/jquery1.11.2.min.js"></script>
		<script src="__PUBLIC__/bootstrap-3.3.2/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/SCWindow/SCWindow.min.js"></script>
		<script src="__PUBLIC__/default/js/public.js"></script>
	</head>
	<body>
		
		<!-- 导航 -->
		<nav class="navbar navbar-default navbar-static-top marginbottom-0" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><strong>{$GLOBALS['sitename']}</strong></a>
			</div>
			<div class="container-fluid Yahei">
			<ul class="nav navbar-nav navbar-right" >
				<li class='{$Index_Nav}'><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 主页</a></li>
				<li class='{$Vip_Nav}'><a href="{:U('Vip/Index')}"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Vip</a></li>
               
                <php>if(session('user_level') <= session('Power.Project')){</php>
				<li class='{$Project_Nav}'><a href="{:U('Project/Index')}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 产品</a></li>
				<php>}</php>
                
                <php>if(session('user_level') <= session('Power.Set/index')){</php>
                <li class='{$Set_Nav}'><a href="{:U('Set/Index')}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 设置</a></li>
				<php>}</php>
                
                <li class="dropdown {$Set_Nav}">
					<a href="javascrip:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span> {$Think.session.user_name}<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{:U('Set/set_data')}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 资料</a></li>
						<li id='logout'><a href="javascrip:;"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> 注销</a></li>
                    	<script type="text/javascript">
						$('#logout').click(function(){
							SCWindow("<b>Warning</b>","确认要注销登录？","B","{:U('Login/log_out')}");
						});
                        </script>
                    </ul>
				</li>
			</ul>
			</div>
		</nav>