.UserCenter{width:1080px;margin:0px auto;margin-top:20px;}

/*Login*/
.UserCenter .UCLogin{width:100%;height:380px;}
.UserCenter .LeftBg{width:740px;height:100%;float:left;background:url(../images/19.jpg) center no-repeat;background-size: cover}
.UserCenter .Login{width:320px;height:100%;box-shadow:1px 1px 5px #ccc;float:right}

.Login .Login-top{width:100%;height:50px;padding-left:10px;line-height:50px;font-size:18px;}
.Login form{display: block;width:300px;margin:0px 10px;}
.Login form span{height:42px;width:100%;overflow: hidden;display: block;margin:50px 0px;}
.Login form span img{height:30px;margin-top:5px;}
.Login form span input{width:250px;float:right;height:36px;padding-left:3px;border-color:#eee}
.Login form span input:focus{border-color:green}
.Login form .submit{width:100%;height:40px;border-radius:2px;background:#0C9;color:#FFF;border:none;cursor:pointer}
.Login form .submit:hover{background:#0C0}

/*Index*/
.UserCenter .UC_Info{width:100%;}
            .UC_Info_Left{width:760px;float:left;}
			.UC_Info_Left table{width:100%;margin:0px auto;border:1px solid #EBEBEB;}
			.UC_Info_Left table tr{height:50px;border-bottom:1px solid #ccc}
			.UC_Info_Left table div{color:#999}
            .UC_Info_Right{width:280px;border:1px solid #EBEBEB;float:right;}
			.UC_Info_Right .UIR_1{width:100%;height:80px;border-bottom:1px solid #EBEBEB;margin-bottom:34px;}
			.UC_Info_Right .UIR_1 img{height:80px;margin-left:5px;float:left;}
			.UC_Info_Right .UIR_1 p{float:left;height:80px;line-height:80px;width:195px;text-align:center}
			.UC_Info_Right .UIR_Box{width:90px;height:90px;;float:left;margin:0px 0px 34px 34px;cursor:pointer}
			.UC_Info_Right .UIR_Box img{height:40px;width:40px;margin-left:25px;margin-top:10px;float:left}
			.UC_Info_Right .UIR_Box p{width:100%;height:40px;line-height:40px;text-align:center;color:#FFF;float:left;}
			.UC_Info_Right .bgc1{background:#09F}
			.UC_Info_Right .bgc2{background:#096}
			.UC_Info_Right .bgc3{background:#6CC}
			.UC_Info_Right .bgc4{background:#F90}
			.UC_Info_Right .bgc5{background:#F30}
